extends common/header.pug

block append stylesheets
  link(rel='stylesheet' href='http://localhost:8081/css/admin.css')

block content
  div(class='table-holder' onclick='toggleTable(this);') Departments
    table(class='hidden')
      thead
        tr
          th Department Name
          th Department Description
      tbody
        tr
          td(class='horizontal-rule' colspan='2')
        tr
          td Support
          td Interface between customer and company after the project phase has been completed
        tr
          td Project Management
          td Customer interface during project phase
        tr
          td Sales
          td Customer interface during the sales phase, cold calling, etc.

  div(class='table-holder' onclick='toggleTable(this);') Roles
    table(class='hidden')
      thead
        tr
          th Role Name
          th Role Description
      tbody
        tr
          td(class='horizontal-rule' colspan='2')
        tr
          td Support Engineer
          td Supports customers after they have gone live
        tr
          td Project Manager
          td Assist in managing projects
        tr
          td Manager
          td Leads department
          
  div(class='table-holder' onclick='toggleTable(this);') Ticket statuses
    table(class='hidden')
      thead
        tr
          th Status name
          th Status description
          th Status function
      tbody
        tr
          td(class='horizontal-rule' colspan='3')
        tr
          td In Progress
          td Ticket active with ES
          td Clock active 
        tr
          td Awaiting feedback
          td Ticket with third party
          td Stops clock
        tr
          td RFO
          td Indicating ES writing RFO
          td Clock active
            
  div(class='table-holder' onclick='toggleTable(this);') Ticket categories
    table(class='hidden')
      thead
        tr
          th Category name
          th Category description
          th Public?
      tbody
        tr
          td(class='horizontal-rule' colspan='3')
        tr
          td Investigatory
          td Investigation into issue - not confirmed fault
          td Y
        tr
          td Fault
          td Ticket determined to be fault
          td Y
        tr
          td RFO
          td Ticket for writing RFOs
          td Y
        tr
          td Internal
          td Internal ticket to catalogue internal actions
          td N

  h3 SLA types
    //
      for each type in slatypes
       div(class='admin-list') slatype.name
      
      div(class='sla-type-sec')
        h3 AXA
        table
          thead
            tr
              th Priority Level
              th Response Time
              th Resolution Time
          tbody
            tr
              td(class='horizontal-rule' colspan='3')
            tr
              td 1
              td 15 minutes
              td 2 hour
            tr
              td 2
              td 15 minutes
              td 4 hours
            tr
              td 3
              td 30 minutes
              td 8 hours
            tr
              td 4
              td 1 hour
              td 24 hours
      
  select(name='sla-type-select' required)
    option(value='1') Standard
    option(value='2') AXA
    option(value='3') MVC
    
  table
    thead
      tr
        th Priority Level
        th Response Time
        th Resolution Time
    tbody
      tr
        td(class='horizontal-rule' colspan='3')
      tr
        td 1
        td 15 minutes
        td 2 hour
      tr
        td 2
        td 15 minutes
        td 4 hours
      tr
        td 3
        td 30 minutes
        td 8 hours
      tr
        td 4
        td 1 hour
        td 24 hours
