extends common/header.pug

block content
  if listClients && !notFound
    //- ul
    //-   each row in allclients
    //-       - var clientlink = '/clients/' + row.scustomername;
    //-       li
    //-         a(href=clientlink)= row.scustomername + ', ' + row.scustomerdescr + ', ' + row.boohsupport
    table
      thead
        tr
          th Client Name
          th Supplier
          th SLA Type
      tbody
        tr
          td(class='horizontal-rule' colspan='3')
        tr
          td UKPN
          td Vodafone
          td MVC
        tr
          td Vapour Media
          td Content Guru
          td Standard
        tr
          td Trainline
          td Content Guru
          td MVC
        tr
          td SSE
          td Vodafone
          td Standard
          
  else if notFound && !listClients
    h1= 'Woops! Sorry, ' + client + ' doesn\'t appear to exist yet. Would you like to add them?'
    h3 [Add 'yes' button here; brings out form]
  else 
    h1= client
    p= clientdescr
    h3 Lead Engineers
    ul
      li Sanyia
      li Daanyal
    h3 Relevant Documents
    a(href='#') Client configuration
