extends common/header.pug

block append scripts
  script(src='http://localhost:8081/js/engineers.js')

block content
  if notFound
    h1= 'Woops! Sorry, ' + engineer + ' doesn\'t appear to exist yet. Would you like to add them?'
    h3 [Add 'yes' button here; brings out form]
  else 
    h1= engineer
    p Engineer Department - Engineer Role - Engineer Ext.
    p Reports to: Chris Thompson
    
    div(class='table-holder' onclick='toggleTable(this);') Skills & Qualifications
      table(class='hidden')
        thead
          tr
            th Qualifications
            th(style='width: 30%;') Date
        tbody
          tr
            td(class='horizontal-rule' colspan='3')
          tr
            td PHP
            td 14/12/2016
      
    div(class='table-holder' onclick='toggleTable(this);') Training
      // make this a check list instead that admins can add training for
      table(class='hidden')
        thead
          tr
            th Training
            th(style='width: 30%;') Date
        tbody
          tr
            td(class='horizontal-rule' colspan='3')
          tr
            td Wireshark tacing
            td 25/04/2017
          
    div(class='table-holder' onclick='toggleTable(this);') Tickets Closed
      table(class='hidden')
        thead
          tr
            th Ref.
            th Customer
            th Ticket Summary
            th(style='width: 30%;') Closed Date
        tbody
          tr
            td(class='horizontal-rule' colspan='4')
          tr
            td 1703120024
            td TCS Nest
            td Firewall issue
            td 16/04/2017 15:21
    
    div(class='table-holder' onclick='toggleTable(this);') Todo
      // add handover button
      table(class='hidden')
        thead
          tr
            th Todo
            th(style='width: 30%;') Due
        tbody
          tr
            td(class='horizontal-rule' colspan='2')
          tr
            td Set up Wireshark tracing for 170703001
            td 13/07/2017 14:00
