extends common/header.pug

block append scripts
  script(src='http://localhost:8081/js/engineers.js')
  
block content
  table
    thead
      tr
        th TLA
        th Name
        th Department
        th Role
    tbody
      tr
        td(class='horizontal-rule' colspan='4')
      each row in allengineers
        tr(onclick='engineerUrl(this);')
          td= row.susername
          td= row.sname
          td= row.suserdepartment
          td= row.suserrole
