// might be deprecated as may be included in main homepage
// add login as an if conditional for main pages

doctype html
html
  head
    title= 'RedTicket | ' + title
    script(src='js/login.js')
    style
      include css/login.css
  body
    div.login <!-- removing this class reveals a snagit div --> 
      p Welcome to RedTicket
      form(action='#') <!-- update action
        <!-- below inputs won't work if someone uses the below as their username and password - security concern? -->
        input(type='text' name='username' value='Username ' onfocus="if(this.value=='Username '){this.value='';}" required)
        input(type='password' name='password' value=' password' onfocus="if(this.value=' password'){this.value='';}" required)
