extends common/nav.pug

block append stylesheets
  link(rel='stylesheet' href='http://localhost:8081/css/home.css')

block mainpanel  
  div.breadcrumbs
    div.col-sm-4
      div.page-header.float-left
        div.page-title
          h1 Dashboard
    div.col-sm-8
      div.page-header.float-right
        div.page-title
          ol.breadcrumb.text-right
            li.active Dashboard

  div.content.mt-3
    div.col-sm-12
      div.alert.alert-success.alert-dismissable.fade.show(role="alert")
        span.badge.badge-pill.badge-success Success
        |   You successfully read this important alert message.
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
            
    div.col-sm-6.col-lg-3
      div.card.text-white.bg-flat-color-1
        div.card-body.pb-0
          div.dropdown.float-right
            button#dropdownMenuButton.btn.bg-transparent.dropdown-toggle.theme-toggle.text-light(type="button" data-toggle="dropdown")
              i.fa.fa-cog
            div.dropdown-menu(aria-labelledby="dropdownMenuButton")
              div.dropdown-menu-content
                a.dropdown-item(href="#") Action
                a.dropdown-item(href="#") Another action
                a.dropdown-item(href="#") Something else
          h4.mb-0
            span.count 10468
          p.text-light Members Online
          
          div.chart-wrapper.px-0(style="height:70px" height="70")
            canvas#widgetChart1
