extends common/header.pug

block append scripts
  script(src='http://localhost:8081/js/tickets.js')

block append stylesheets
  link(rel='stylesheet' href='http://localhost:8081/css/tickets.css')
  
block content
  if notFound
    h1= 'Woops! Sorry, ' + ticket + ' does not exist.'
    // maybe provide a list of related tickets?
  else
    div(class='ticket-reference')= ticket      
    div(class='ticket-editable-details ticket-editable-details-title' 
        id='id-ticket-editable-details-title'
        data-field='ticket-title' 
        data-ticket=ticket
        onclick='turnToContentEditable(this)'
        onblur='this.contentEditable=false'
        onkeydown='submitOnEnter(this)')= tickettitle
  
    p(style='font-size: 12px; color: grey;' class='ticket-stats')
      span(style='font-weight: bold;') Opened: 
      | 06/07/2017 14:31 | 
      span(style='font-weight: bold;') Due: 
      | 17/07/2017 14:31 | 
      span(style='font-weight: bold;') Within SLA: 
      | Yes | 
      span(style='font-weight: bold;') Current Status: 
      | Awaiting client feedback
    
    div(class='ticket-editable-container')
      div(class='ticket-editable-details ticket-editable-details-desc' 
          id='id-ticket-editable-details-desc'
          data-field='ticket-desc'
          data-ticket=ticket
          onclick='turnToContentEditable(this)'
          onblur='this.contentEditable=false')= ticketdesc
      div(class='ticket-editable-details-btn_container')
        button(class='ticket-editable-details-btn_container-cancel' type='button' value='cancel' style='margin-right: 5px;') Cancel
        button(class='ticket-editable-details-btn_container-save' type='button' value='save' onclick='submitDesc()') Save
      
    div(class='tab-view')
      div(class='tabs')
        div(class='tab e-mails' onclick='selectTab(this);') E-mails
        div(class='tab internal selected' onclick='selectTab(this);') Internal
        div(class='tab public' onclick='selectTab(this);') Public
        div(class='tab contacts' onclick='selectTab(this);') Contacts
      div(class='tab-content')
        div(class='e-mails hidden')
          button(type='button' class='add-content') + Add E-mail
          form(action='' method='post' class='email-update update-form hidden' id='email-update')
            div
              input(type='date' class='value-current-date')
              input(type='time' class='value-current-time' style='margin-left: 2px;')
            textarea(class='large-textarea' style='border: 1px solid black; border-radius: 5px; margin-top: 2px; padding: 10px;')
            div
              button(type='button' class='form cancel') Cancel
              button(type='submit' class='form submit') Submit
        div(class='internal')
          button(type='button' class='add-content') + Add Internal Update
          form(action='' method='post' class='internal-update update-form hidden' id='internal-update')
            div
              input(type='date' class='value-current-date')
              input(type='time' class='value-current-time' style='margin-left: 2px;')
              select(style='margin-left: 2px; height: 21px;')
                option(value='1') In Progress
                option(value='2') Awaiting feedback
            textarea(class='large-textarea' style='border: 1px solid black; border-radius: 5px; margin-top: 2px; padding: 10px;')
            div
              button(type='button' class='form cancel') Cancel
              button(type='submit' class='form submit') Submit
          div(class='content')
            div(class='ticket-status-summary')
              span Time: 
              | 15:22 11/07/2017 | 
              span Duration: 
              | 13h 12m 15s | 
              span Status: 
              | Awaiting client feedback
            div(class='ticket-update')
              | Further testing done, blah blah blah
              br
              | Here's some SQL   
              br
              | Client needs to get back to us
               
          div(class='content')
            div(class='ticket-status-summary')
              span Time: 
              | 16:24 11/07/2017 | 
              span Duration: 
              | 1h 2m 11s | 
              span Status: 
              | In Progress
            div(class='ticket-update')
              | That was quick.
              br
              | They got back
              br
              | Need to setup tracing
              
        div(class='public hidden')
          button(type='button' class='add-content') + Add Public Update
          form(action='/tickets/update' method='post' class='public-update update-form hidden' id='public-update')
            div
              input(type='date' name='date' class='value-current-date')
              input(type='time' name='time' class='value-current-time' style='margin-left: 2px;')
              select(style='margin-left: 2px; height: 21px;')
                option(value='1') In Progress
                option(value='2') Awaiting feedback
            textarea(class='large-textarea' name='update' style='border: 1px solid black; border-radius: 5px; margin-top: 2px; padding: 10px;')
            div
              button(type='button' class='form cancel') Cancel
              button(type='submit' class='form submit') Submit
        div(class='contacts hidden')
          button(type='button' class='add-content') + Add Contact
          form(action='#' method='post' class='contact-update update-form hidden' id='contact-update-form')
            input(type='text' class='contact-input full-name' name='fullname' value='Full Name')
            input(type='text' class='contact-input position' name='position' value='Position')
            input(type='email' class='contact-input name' name='email' value='E-mail')
            input(type='tel' class='contact-input telephone' name='telephone' value='Phone no.')
            input(type='text' class='contact-input comments' name='comments' value='Comments' maxlength='100')
            div
              button(type='button' class='form cancel') Cancel
              button(type='button' class='form submit' onclick='getAllContacts();') Submit
          table(id='tickets-contacts-table')
              thead
                tr
                  th Name
                  th Position
                  th E-mail
                  th Telephone
                  th Comments
              tbody
                tr
                  td(class='horizontal-rule' colspan='5')
                tr
                  td Becky Graham
                  td UKPN Service Manager
                  td rebecca.graham@vodafone.com
                  td 07985451265
                  td Call to after providing update to customer
                tr
                  td Peter Sisson
                  td UKPN IT Manager
                  td peter.sisson@ukpn.com
                  td 07957896254
                  td Call every 15 minutes to provide update  
