extends common/header.pug

block append scripts
  script(src='http://localhost:8081/js/tickets.js')

block append stylesheets
  link(rel='stylesheet' href='http://localhost:8081/css/tickets.css')

block content
  h1 Tickets 
  table
    thead
      tr
        th Ref.
        th Date Opened
        th Title
        th(width='250px') Customers
        th Priority
        th Current Status
        th Last Updated
        th Assigned
    tbody
      tr
        td(class='horizontal-rule' colspan='8')
      each row in alltickets
        - var priorityLevel = (row.iprioritylevel === null) ? 'N/A' : row.iprioritylevel
        - var customersAffected = (row.customers_affected.length)
        - if (customersAffected == 0) { customersAffected = 'N/A' }
        - if (customersAffected == 1) { customersAffected = row.customers_affected }
        - if (customersAffected > 1) { customersAffected = 'Multiple'}
        tr(onclick='ticketsUrl(this);')
          td= row.iticketref
          td= row.dtopened.toLocaleDateString() + ' ' + row.dtopened.toTimeString().slice(0,9)
          td= row.stickettitle
          td= customersAffected
          td= priorityLevel
          td= row.scurrentstatus
          td= row.dtlastupdatetime.toLocaleDateString() + ' ' + row.dtlastupdatetime.toTimeString().slice(0,9)
          td= row.sassignedengineer
  
