doctype html
html
  head
    title= 'RedTicket | ' + title
    
    // static filepath defined in redticket.js under app.use(express.static('public'))      
    block stylesheets  
      // css libraries
      link(rel='stylesheet' href='http://localhost:8081/css/normalize.css')
      link(rel='stylesheet' href='http://localhost:8081/css/bootstrap.min.css')
      link(rel='stylesheet' href='http://localhost:8081/css/font-awesome.min.css')
      link(rel='stylesheet' href='http://localhost:8081/css/themify-icons.css')
      link(rel='stylesheet' href='http://localhost:8081/css/flag-icon.min.css')
      link(rel='stylesheet' href='http://localhost:8081/css/cs-skin-elastic.css')
      link(rel='stylesheet' href='http://localhost:8081/scss/style.css')
      link(rel='stylesheet' href='http://localhost:8081/css/cs-skin-elastic.css')
      
      // fonts
      link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800')
    
  body
    // extends to nav.pug
    block leftnav
    
    div#right-panel.right-panel
      // Header
      header#header.header
        div.header-menu
          div.col-sm-7
            a#menuToggle.menutoggle.pull-left
              i.fa.fa.fa-tasks
            div.header-left
              button.search-trigger
                i.fa.fa-search
              div.form-inline
                form.search-form
                  input.form-control.mr-sm-2(type='text', placeholder='Search ...', aria-label='Search')
                  button.search-close(type='submit')
                    i.fa.fa-close
              div.dropdown.for-notification
                button#notification.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fa.fa-bell
                  span.count.bg-danger 5
                div.dropdown-menu(aria-labelledby='notification')
                  p.red You have 3 Notification
                  a.dropdown-item.media.bg-flat-color-1(href='#')
                    i.fa.fa-check
                    p Server #1 overloaded.
                  a.dropdown-item.media.bg-flat-color-4(href='#')
                    i.fa.fa-info
                    p Server #2 overloaded.
                  a.dropdown-item.media.bg-flat-color-5(href='#')
                    i.fa.fa-warning
                    p Server #3 overloaded.
              div.dropdown.for-message
                button#message.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.ti-email
                  span.count.bg-primary 9
                div.dropdown-menu(aria-labelledby='message')
                  p.red You have 4 Mails
                  a.dropdown-item.media.bg-flat-color-1(href='#')
                    span.photo.media-left
                      img(alt='avatar', src='images/avatar/1.jpg')
                    span.message.media-body
                      span.name.float-left Jonathan Smith
                      span.time.float-right Just now
                      p Hello, this is an example msg
                  a.dropdown-item.media.bg-flat-color-4(href='#')
                    span.photo.media-left
                      img(alt='avatar', src='images/avatar/2.jpg')
                    span.message.media-body
                      span.name.float-left Jack Sanders
                      span.time.float-right 5 minutes ago
                      p Lorem ipsum dolor sit amet, consectetur
                  a.dropdown-item.media.bg-flat-color-5(href='#')
                    span.photo.media-left
                      img(alt='avatar', src='images/avatar/3.jpg')
                    span.message.media-body
                      span.name.float-left Cheryl Wheeler
                      span.time.float-right 10 minutes ago
                      p Hello, this is an example msg
                  a.dropdown-item.media.bg-flat-color-3(href='#')
                    span.photo.media-left
                      img(alt='avatar', src='images/avatar/4.jpg')
                    span.message.media-body
                      span.name.float-left Rachel Santos
                      span.time.float-right 15 minutes ago
                      p Lorem ipsum dolor sit amet, consectetur
          div.col-sm-5
            div.user-area.dropdown.float-right
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') AVATAR
              div.user-menu.dropdown-menu
                a.nav-link(href='#')
                  i.fa.fa-.user
                  | My Profile
                a.nav-link(href='#')
                  i.fa.fa-.user
                  | Notifications 
                  span.count 13
                a.nav-link(href='#')
                  i.fa.fa.-cog
                  | Settings
                a.nav-link(href='#')
                  i.fa.fa-power.-off
                  | Logout
            div#language-select.language-select.dropdown
              a#language.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                i.flag-icon.flag-icon-us
              div.dropdown-menu(aria-labelledby='language')
                div.dropdown-item
                  span.flag-icon.flag-icon-fr
                div.dropdown-item
                  i.flag-icon.flag-icon-es
                div.dropdown-item
                  i.flag-icon.flag-icon-us
                div.dropdown-item
                  i.flag-icon.flag-icon-it
    
      // extends to other pug files in /../views
      block mainpanel
    
    // load scripts after HTML has loaded to prevent any errors
    block scripts
      script(src='http://localhost:8081/js/vendor/jquery-2.1.4.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
      script(src='http://localhost:8081/js/plugins.js')
      script(src='http://localhost:8081/js/main.js')
      script(src='http://localhost:8081/js/lib/chart-js/Chart.bundle.js')
      script(src='http://localhost:8081/js/dashboard.js')
      script(src='http://localhost:8081/js/widgets.js')
      
// add footer
