extends header.pug

block leftnav
  aside#left-panel.left-panel
    nav.navbar.navbar-expand-sm.navbar-default
      div.navbar-header
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu', aria-controls='main-menu', aria-expanded='false', aria-label='Toggle navigation')
          i.fa.fa-bars
        a.navbar-brand(href='/') LOGO
        a.navbar-brand.hidden(href='/') LOGO2
      
      div#main-menu.main-menu.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/')
              i.menu-icon.fa.fa-dashboard
              | Dashboard
          h3.menu-title UI elements
          // /.menu-title
          li.menu-item-has-children.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.menu-icon.fa.fa-laptop
              | Components
            ul.sub-menu.children.dropdown-menu
              li
                i.fa.fa-puzzle-piece
                a(href='/') Buttons
              li
                i.fa.fa-id-badge
                a(href='/') Badges
              li
                i.fa.fa-bars
                a(href='/') Tabs
              li
                i.fa.fa-share-square-o
                a(href='/') Social Buttons
              li
                i.fa.fa-id-card-o
                a(href='/') Cards
              li
                i.fa.fa-exclamation-triangle
                a(href='/') Alerts
              li
                i.fa.fa-spinner
                a(href='/') Progress Bars
              li
                i.fa.fa-fire
                a(href='/') Modals
              li
                i.fa.fa-book
                a(href='/') Switches
              li
                i.fa.fa-th
                a(href='/') Grids
              li
                i.fa.fa-file-word-o
                a(href='/') Typography
          li.menu-item-has-children.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.menu-icon.fa.fa-table
              | Tables
            ul.sub-menu.children.dropdown-menu
              li
                i.fa.fa-table
                a(href='/') Basic Table
              li
                i.fa.fa-table
                a(href='/') Data Table
          li.menu-item-has-children.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.menu-icon.fa.fa-th
              | Forms
            ul.sub-menu.children.dropdown-menu
              li
                i.menu-icon.fa.fa-th
                a(href='/') Basic Form
              li
                i.menu-icon.fa.fa-th
                a(href='/') Advanced Form
          h3.menu-title Icons
          // /.menu-title
          li.menu-item-has-children.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.menu-icon.fa.fa-tasks
              | Icons
            ul.sub-menu.children.dropdown-menu
              li
                i.menu-icon.fa.fa-fort-awesome
                a(href='/') Font Awesome
              li
                i.menu-icon.ti-themify-logo
                a(href='/') Themefy Icons
          li
            a(href='/')
              i.menu-icon.ti-email
              | Widgets
          li.menu-item-has-children.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.menu-icon.fa.fa-bar-chart
              | Charts
            ul.sub-menu.children.dropdown-menu
              li
                i.menu-icon.fa.fa-line-chart
                a(href='/') Chart JS
              li
                i.menu-icon.fa.fa-area-chart
                a(href='/') Flot Chart
              li
                i.menu-icon.fa.fa-pie-chart
                a(href='/') Peity Chart
          li.menu-item-has-children.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.menu-icon.fa.fa-area-chart
              | Maps
            ul.sub-menu.children.dropdown-menu
              li
                i.menu-icon.fa.fa-map-o
                a(href='/') Google Maps
              li
                i.menu-icon.fa.fa-street-view
                a(href='/') Vector Maps
          h3.menu-title Extras
          // /.menu-title
          li.menu-item-has-children.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.menu-icon.fa.fa-glass
              | Pages
            ul.sub-menu.children.dropdown-menu
              li
                i.menu-icon.fa.fa-sign-in
                a(href='/') Login
              li
                i.menu-icon.fa.fa-sign-in
                a(href='/') Register
              li
                i.menu-icon.fa.fa-paper-plane
                a(href='/') Forget Pass
      // /.navbar-collapse
